.color{
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))  !important;
    --bs-bg-opacity: 1;
    margin-top: 50px;
    
}
.text{
    color: #6c757d;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
}
